@model UsuarioVM

@{
    Layout = "_LayoutMetronic";
    ViewData["Title"] = "Visualizar Usuário";
}
					
<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
	<!--begin::Container-->
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<!--begin::Title-->
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Gerenciamento</h1>
			<!--end::Title-->
			<!--begin::Separator-->
			<span class="h-20px border-gray-200 border-start mx-4"></span>
			<!--end::Separator-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a asp-area="Gerenciamento" asp-controller="Usuario" asp-action="Index" class="text-muted text-hover-primary">Usuários</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-300 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a asp-area="Gerenciamento" asp-controller="Usuario" asp-action="Visualizar" class="text-muted text-hover-primary">Visualizar</a>
				</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
		<!--begin::Actions-->

		<!--end::Actions-->
	</div>
	<!--end::Container-->
</div>
<!--end::Toolbar-->		
	
<input type="hidden" id="HdnIdUsuario" value="@Model.Id" />

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-fluid">

		<div class="card card-bordered">
			<!--begin::Card header-->
			<div class="card-header align-items-center py-3 gap-2 gap-md-5">
				<!--begin::Card title-->
				<div class="card-title">
					<h3>Visualizar Usuário</h3>
				</div>
				<!--end::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar flex-row-fluid justify-content-end gap-5">						
					<!--begin::Actions-->
					<!--end::Actions-->
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body">
					
				<form class="form w-100" novalidate="novalidate" id="frmUsuario">

					<div class="row mb-10">

						<div class="col-md-6">
							<!--begin::Input-->
							<div class="fv-row">
								<label class="required form-label">Empresa</label>
								<input type="text" name="empresa" class="form-control mb-2" value="@Model.NomeEmpresa" readonly />
								<div class="text-muted fs-7 mt-2">Empresa do usuário</div>
							</div>								
							<!--end::Input-->
						</div>

					</div>

					<div class="row mb-10">

						<div class="col-md-6">
							<!--begin::Input-->
							<div class="fv-row">
								<label class="required form-label">Nome</label>
								<input type="text" name="nome" class="form-control mb-2" placeholder="Nome" value="@Model.Nome" maxlength="150" readonly />
								<div class="text-muted fs-7">Nome completo do usuário</div>
							</div>
							<!--end::Input-->
						</div>

						<div class="col-md-6">
							<!--begin::Input-->
							<div class="fv-row">
								<label class="required form-label">Email</label>
								<input type="text" name="email" class="form-control mb-2" placeholder="Email" value="@Model.Email" maxlength="150" readonly />
								<div class="text-muted fs-7">Endereço de email do usuário</div>
							</div>
							<!--end::Input-->
						</div>

					</div>

					<div class="row">

						<div class="col-md-6">
							<!--begin::Input-->
							<div class="fv-row">
								<label class="required form-label">CPF</label>
								<input type="text" name="cpf" class="form-control mb-2 mw-225px" placeholder="CPF" value="@Model.CPF" maxlength="14" readonly />
								<div class="text-muted fs-7">Documento de identificação do usuário</div>
							</div>								
							<!--end::Input-->
						</div>	

						<div class="col-md-6">
							<!--begin::Input-->
							<div class="fv-row">
								<label class="form-label">Ativo?<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top" title="Se desativado, bloqueia o acesso do usuário no sistema"></i></label>
								<div class="form-check form-switch form-check-custom form-check-primary form-check-solid mt-2 mb-4">
									<input type="checkbox" name="ativo" class="form-check-input" value="" @(Model.Ativo ? "checked" : "") disabled />
								</div>
								<div class="text-muted fs-7">Usuário ativo no sistema?</div>
							</div>	
							<!--end::Input-->
						</div>

					</div>

				</form>

			</div>
			<!--end::Card body-->
			<!--begin::Card footer-->
			<div class="card-footer py-5">
				<div class="d-flex justify-content-between">
					<a asp-area="Gerenciamento" asp-controller="Usuario" asp-action="Index" class="btn btn-secondary">Voltar</a>
				</div>					
			</div>
			<!--end::Card footer-->
		</div>

	</div>
	<!--end::Container-->													
</div>
<!--end::Post-->

<script src="~/js/Areas/Gerenciamento/Usuario/Usuario.js" asp-append-version="true" ></script>
<script type="text/javascript">    
    $(function () {
		UsuarioAPI.initVisualizar();
    });
</script>